services:
  frontend:
    build: ./frontend
    container_name: todo-frontend
    ports:
      - "80:80"
    restart: always

  backend:
    build: ./backend
    container_name: todo-backend
    ports:
      - "3000:3000"
    restart: always
