version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    container_name: todo-frontend
    restart: always

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    container_name: todo-backend
    restart: always
